/* Color Theme Swatches in Hex */
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
  margin-bottom: -1px;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: -1px;
  right: -50px;
  transform: skew(45deg);
}
.white-block .btn-special animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.white-block .btn-special animation::before {
  display: block;
  content: "";
  position: absolute;
  top: -30px;
  left: -130px;
  height: 160%;
  width: 100px;
  transform: rotate(20deg);
  transition: transform 0.3s;
  z-index: -1;
}
.white-block .btn-special animation:hover::before {
  left: 130%;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #7c8c03;
  letter-spacing: 2px;
}

.section-padding {
  padding: 6em 2em;
}

@media (min-width: 768px) {
  .section-padding {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}
@media (min-width: 992px) {
  .section-padding {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-image: linear-gradient(45deg, rgb(62, 47, 91), rgb(255, 200, 87));
  z-index: 100;
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0em;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: #fff;
  text-decoration: none;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  background-color: #fff;
  content: "";
}
.nav__item:hover::before {
  transform: scaleY(1);
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  animation: navItemsAnimation 1s both;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(62, 47, 91, 0.68), rgba(255, 200, 87, 0.68)), url("/img/header_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__heading {
  font-family: "Dancing Script", cursive;
  font-size: 4.8rem;
  font-weight: 500;
}
.header__text {
  font-size: 1.4rem;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background: #fff;
  border: none;
  border-radius: 8px;
  color: #2e2e2e;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #bfb699;
}

.photobook__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.photobook__img {
  width: 100%;
  margin-bottom: 1em;
}
.photobook__title {
  margin-bottom: 0.5em;
}
.photobook__text {
  font-size: 1.4rem;
}

.hero-img {
  position: relative;
  padding: 10em 2em;
  background-image: linear-gradient(45deg, rgba(62, 47, 91, 0.68), rgba(255, 200, 87, 0.68)), url("/img/couple_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.hero-img__title {
  font-family: "Dancing Script", cursive;
  margin-bottom: 0.5em;
  font-size: 4.8rem;
}
.hero-img__text {
  padding: 1em 0;
}

.offers__card {
  position: relative;
  margin: 1em 0;
  height: 450px;
  color: #fff;
  text-align: center;
  perspective: 1000px;
}
.offers__card:hover .offers__card-img {
  transform: rotateY(-180deg);
  opacity: 0;
}
.offers__card:hover .offers__card-info {
  transform: rotateY(0);
  opacity: 1;
}
.offers__card-img {
  padding: 2em;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  transition: transform 1s, opacity 1s;
}
.offers__card-img--first {
  background-image: linear-gradient(45deg, rgba(175, 158, 211, 0.68), rgba(255, 200, 87, 0.68)), url("/img/bride_640.jpg");
}
.offers__card-img--second {
  background-image: linear-gradient(45deg, rgba(155, 119, 233, 0.68), rgba(255, 200, 87, 0.68)), url("/img/karta2_640.jpg");
}
.offers__card-img-title {
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
}
.offers__card-img-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.8rem;
}
.offers__card-img-info i {
  margin-right: 0.3em;
}
.offers__card-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, rgb(211, 184, 140), rgb(35, 9, 3));
  border-radius: 8px;
  opacity: 0;
  transform: rotateY("180deg");
  transition: transform 1s, opacity 1s;
}
.offers__card-info-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
}
.offers__card-info-list {
  margin: 0 auto;
  width: 70%;
  list-style: none;
}
.offers__card-info-list-item {
  padding: 1em;
  font-size: 1.4rem;
  border-bottom: 1px solid #bfb699;
}
.offers__card-info-list-item:last-child {
  border-bottom: none;
}
.offers__card-info-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
  padding: 1em;
  border-radius: 8px;
  width: 80%;
  border: none;
  background-color: rgba(35, 9, 3, 0.8078431373);
  color: #bfb699;
  cursor: pointer;
}
.offers__card-info-btn::before {
  background-color: #594b02;
}

.gallery {
  position: relative;
  background-image: linear-gradient(45deg, rgba(62, 47, 91, 0.68), rgba(255, 200, 87, 0.68)), url("/img/photographer_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.gallery .section-heading {
  color: #fff;
}
.gallery__option {
  margin: 1em 0;
  box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.7725490196);
  overflow: hidden;
}
.gallery__option-img {
  width: 100%;
  transition: transform 0.3s;
}
.gallery__option-img:hover {
  transform: scale(1.1);
}
.gallery__option-info {
  padding: 2em;
  z-index: 10;
}
.gallery__option-heading {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
  font-weight: 300;
}
.gallery__option-text {
  margin-bottom: 0.5em;
  font-size: 1.3rem;
  color: #fff;
}
.gallery__option-btn {
  margin-top: 1em;
  padding: 0.8em;
  width: 100%;
  color: #fff;
  background-color: rgba(35, 9, 3, 0.8078431373);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.gallery__option-btn::before {
  background-color: rgba(35, 9, 3, 0.5607843137);
}

.swiper {
  position: relative;
  height: 500px;
  width: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
.swiper .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.swiper .review__box-text {
  margin-bottom: 0.1em;
  margin-left: 1em;
  font-size: 2.8rem;
  color: #fff;
}
.swiper .swiper-slide {
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .photobook__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .photobook__box-text {
    width: 55%;
  }
  .photobook__box-text--right {
    text-align: right;
  }
  .photobook__box-img {
    width: 40%;
  }
  .photobook__box-img--right {
    order: 1;
  }
  .photobook__img {
    margin-bottom: 0;
    max-height: 300px;
  }
  .gallery__option {
    display: flex;
    margin: 2em 0;
    width: 100%;
  }
  .gallery__option-img {
    width: 50%;
    height: auto;
  }
  .gallery__option-img--right {
    order: 1;
  }
  .gallery__option-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .gallery__option-heading {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
  }
  .gallery__option-btn {
    padding: 1em;
  }
}
@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .photobook {
    font-size: 1.8rem;
  }
  .hero-img {
    padding: 30rem 2em;
  }
  .hero-img hr {
    margin: 0 auto;
    width: 70%;
  }
  .hero-img__text {
    font-size: 2.2rem;
  }
  .offers__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .offers__card {
    margin: 1em;
    right: 50px;
    flex-basis: 100%;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(62, 47, 91, 0.68), rgba(255, 200, 87, 0.68)), url("/img/header_1920.jpg");
  }
  .header__heading {
    font-size: 10rem;
  }
  .nav__item {
    font-size: 4.8rem;
  }
  .photobook__box {
    margin: 5em 0;
  }
  .photobook__box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .photobook__title {
    font-size: 3.6rem;
  }
  .photobook__text {
    font-size: 2.2rem;
  }
  .hero-img {
    padding: 40em 2em;
    background-image: linear-gradient(45deg, rgba(62, 47, 91, 0.68), rgba(255, 200, 87, 0.68)) url("../img/couple_1920.jpg");
  }
  .hero-img__title {
    font-size: 7.2rem;
  }
  .hero-img hr {
    width: 60%;
    max-width: 900px;
  }
  .gallery {
    background-image: linear-gradient(45deg, rgba(62, 47, 91, 0.68), rgba(255, 200, 87, 0.68)), url("../img/photographer_1920.jpg");
  }
  .gallery__option-img {
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
  .gallery__option-text {
    font-size: 1.5rem;
  }
}
@media (min-width: 1100px) {
  .offers__card {
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */